In [579]:
import pandas as pd
import numpy as np

File required : Glassdoor Jobs Dataset.csv

In [580]:
df = pd.read_csv('Glassdoor Jobs Dataset.csv')

In [581]:
df.head()

,Unnamed: 0,Unnamed: 1,GLASSDOOR JOBS,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Competitors,Revenue,Sector,Industry,Ownership Type,Founded,Size,Headquarters,Location,Name,Rating,Description,Salary,Title,index
3,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist,0
4,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist,1

For some reason the top rows are yielding NANs. Let's check the dataset and inspect

In [582]:
# The first few rows are blanks as you saw when you opened the dataset in Excel/Sheets
# Let's go ahead and Skip them

### Loading the dataset

Read the dataset 'Glassdoor Jobs Dataset.csv' and load it into a dataframe. Note that it contains some blanks in the beginning.

In [583]:
# You can use the skiprows functionality of the dataset to do this.
df = pd.read_csv('Glassdoor Jobs Dataset.csv', skiprows = 3)

In [584]:
df.head()

,Competitors,Revenue,Sector,Industry,Ownership Type,Founded,Size,Headquarters,Location,Name,Rating,Description,Salary,Title,index
0,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist,0
1,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist,1
2,-1,$100 to $500 million (USD),Business Services,Consulting,Private Practice / Firm,1981,1001 to 5000 employees,"Boston, MA","Boston, MA",Analysis Group\n3.8,3.8,Overview\n\n\nAnalysis Group is one of the lar...,$137K-$171K (Glassdoor est.),Data Scientist,2
3,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$100 to $500 million (USD),Manufacturing,Electrical & Electronic Manufacturing,Company - Public,2000,501 to 1000 employees,"Bad Ragaz, Switzerland","Newton, MA",INFICON\n3.5,3.5,JOB DESCRIPTION:\n\nDo you have a passion for ...,$137K-$171K (Glassdoor est.),Data Scientist,3
4,"Commerce Signals, Cardlytics, Yodlee",Unknown / Non-Applicable,Business Services,Advertising & Marketing,Company - Private,1998,51 to 200 employees,"New York, NY","New York, NY",Affinity Solutions\n2.9,2.9,Data Scientist\nAffinity Solutions / Marketing...,$137K-$171K (Glassdoor est.),NaN,4

In [585]:
df.columns

Index(['Competitors', 'Revenue', 'Sector', 'Industry', 'Ownership Type',
       'Founded', 'Size', 'Headquarters', 'Location', 'Name', 'Rating',
       'Description', 'Salary', 'Title', 'index'],
      dtype='object')

In [586]:
# let's drop the index column
df.drop(['index'], axis=1,inplace=True)

In [587]:
df.head()

,Competitors,Revenue,Sector,Industry,Ownership Type,Founded,Size,Headquarters,Location,Name,Rating,Description,Salary,Title
0,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist
1,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist
2,-1,$100 to $500 million (USD),Business Services,Consulting,Private Practice / Firm,1981,1001 to 5000 employees,"Boston, MA","Boston, MA",Analysis Group\n3.8,3.8,Overview\n\n\nAnalysis Group is one of the lar...,$137K-$171K (Glassdoor est.),Data Scientist
3,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$100 to $500 million (USD),Manufacturing,Electrical & Electronic Manufacturing,Company - Public,2000,501 to 1000 employees,"Bad Ragaz, Switzerland","Newton, MA",INFICON\n3.5,3.5,JOB DESCRIPTION:\n\nDo you have a passion for ...,$137K-$171K (Glassdoor est.),Data Scientist
4,"Commerce Signals, Cardlytics, Yodlee",Unknown / Non-Applicable,Business Services,Advertising & Marketing,Company - Private,1998,51 to 200 employees,"New York, NY","New York, NY",Affinity Solutions\n2.9,2.9,Data Scientist\nAffinity Solutions / Marketing...,$137K-$171K (Glassdoor est.),NaN

### Formatting the columns

Notice the column names. On checking the data dictionary, some of them describe the company demographics whereas the other columns denote the job role specific details. Right now, it's not very understandable which one's which. To make it more readable rename the columns by adding a prefix 'C_' for all the Company columns and a 'J_' prefix for all the Job columns

In [588]:
cols = df.columns

In [589]:
cols

Index(['Competitors', 'Revenue', 'Sector', 'Industry', 'Ownership Type',
       'Founded', 'Size', 'Headquarters', 'Location', 'Name', 'Rating',
       'Description', 'Salary', 'Title'],
      dtype='object')

In [590]:
l1 = 'C_' + cols[0:11] 
l1

Index(['C_Competitors', 'C_Revenue', 'C_Sector', 'C_Industry',
       'C_Ownership Type', 'C_Founded', 'C_Size', 'C_Headquarters',
       'C_Location', 'C_Name', 'C_Rating'],
      dtype='object')

In [591]:
l2 = 'J_' + cols[11:]
l2

Index(['J_Description', 'J_Salary', 'J_Title'], dtype='object')

In [592]:
newlist = l1.append(l2)
newlist

Index(['C_Competitors', 'C_Revenue', 'C_Sector', 'C_Industry',
       'C_Ownership Type', 'C_Founded', 'C_Size', 'C_Headquarters',
       'C_Location', 'C_Name', 'C_Rating', 'J_Description', 'J_Salary',
       'J_Title'],
      dtype='object')

In [593]:
df.columns = newlist

In [594]:
df.head(5)

,C_Competitors,C_Revenue,C_Sector,C_Industry,C_Ownership Type,C_Founded,C_Size,C_Headquarters,C_Location,C_Name,C_Rating,J_Description,J_Salary,J_Title
0,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist
1,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist
2,-1,$100 to $500 million (USD),Business Services,Consulting,Private Practice / Firm,1981,1001 to 5000 employees,"Boston, MA","Boston, MA",Analysis Group\n3.8,3.8,Overview\n\n\nAnalysis Group is one of the lar...,$137K-$171K (Glassdoor est.),Data Scientist
3,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$100 to $500 million (USD),Manufacturing,Electrical & Electronic Manufacturing,Company - Public,2000,501 to 1000 employees,"Bad Ragaz, Switzerland","Newton, MA",INFICON\n3.5,3.5,JOB DESCRIPTION:\n\nDo you have a passion for ...,$137K-$171K (Glassdoor est.),Data Scientist
4,"Commerce Signals, Cardlytics, Yodlee",Unknown / Non-Applicable,Business Services,Advertising & Marketing,Company - Private,1998,51 to 200 employees,"New York, NY","New York, NY",Affinity Solutions\n2.9,2.9,Data Scientist\nAffinity Solutions / Marketing...,$137K-$171K (Glassdoor est.),NaN

#### Bonus tip
In the above case you were adding 2 different prefixes to the columns. In case a single prefix is to be added, you can use the **add_prefix** functionality. Here's a small demo

**df.add_prefix()**

In [595]:
# make a copy of the original dataframe
df2 = df.copy()

In [596]:
df2.add_prefix('Glassdoor_').head(5)

,Glassdoor_C_Competitors,Glassdoor_C_Revenue,Glassdoor_C_Sector,Glassdoor_C_Industry,Glassdoor_C_Ownership Type,Glassdoor_C_Founded,Glassdoor_C_Size,Glassdoor_C_Headquarters,Glassdoor_C_Location,Glassdoor_C_Name,Glassdoor_C_Rating,Glassdoor_J_Description,Glassdoor_J_Salary,Glassdoor_J_Title
0,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist
1,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist
2,-1,$100 to $500 million (USD),Business Services,Consulting,Private Practice / Firm,1981,1001 to 5000 employees,"Boston, MA","Boston, MA",Analysis Group\n3.8,3.8,Overview\n\n\nAnalysis Group is one of the lar...,$137K-$171K (Glassdoor est.),Data Scientist
3,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$100 to $500 million (USD),Manufacturing,Electrical & Electronic Manufacturing,Company - Public,2000,501 to 1000 employees,"Bad Ragaz, Switzerland","Newton, MA",INFICON\n3.5,3.5,JOB DESCRIPTION:\n\nDo you have a passion for ...,$137K-$171K (Glassdoor est.),Data Scientist
4,"Commerce Signals, Cardlytics, Yodlee",Unknown / Non-Applicable,Business Services,Advertising & Marketing,Company - Private,1998,51 to 200 employees,"New York, NY","New York, NY",Affinity Solutions\n2.9,2.9,Data Scientist\nAffinity Solutions / Marketing...,$137K-$171K (Glassdoor est.),NaN

Similarly the **add_suffix** command addes a suffix to each of the column names

### Reordering the Columns

As per the given data dictionary and also for ease of understanding, the job role specific columns should be in the beginning and the company specific columns should be after that. Reorder the dataframe so that the columns as per this order.

In [597]:
# Let's develop the logic so that we can do it in one step

In [598]:
df.loc[:,:]

,C_Competitors,C_Revenue,C_Sector,C_Industry,C_Ownership Type,C_Founded,C_Size,C_Headquarters,C_Location,C_Name,C_Rating,J_Description,J_Salary,J_Title
0,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist
1,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist
2,-1,$100 to $500 million (USD),Business Services,Consulting,Private Practice / Firm,1981,1001 to 5000 employees,"Boston, MA","Boston, MA",Analysis Group\n3.8,3.8,Overview\n\n\nAnalysis Group is one of the lar...,$137K-$171K (Glassdoor est.),Data Scientist
3,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$100 to $500 million (USD),Manufacturing,Electrical & Electronic Manufacturing,Company - Public,2000,501 to 1000 employees,"Bad Ragaz, Switzerland","Newton, MA",INFICON\n3.5,3.5,JOB DESCRIPTION:\n\nDo you have a passion for ...,$137K-$171K (Glassdoor est.),Data Scientist
4,"Commerce Signals, Cardlytics, Yodlee",Unknown / Non-Applicable,Business Services,Advertising & Marketing,Company - Private,1998,51 to 200 employees,"New York, NY","New York, NY",Affinity Solutions\n2.9,2.9,Data Scientist\nAffinity Solutions / Marketing...,$137K-$171K (Glassdoor est.),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,-1,$100 to $500 million (USD),Finance,Investment Banking & Asset Management,Company - Private,1995,1001 to 5000 employees,"Coral Gables, FL","Coral Gables, FL",Bayview Asset Management\n3.7,3.7,POSITION SUMMARY\n\n\nThe candidate will be jo...,$79K-$131K (Glassdoor est.),Data Engineer
685,-1,Unknown / Non-Applicable,Information Technology,Internet,Company - Private,2012,501 to 1000 employees,"New York, NY","New York, NY",Via Transportation\n3.7,3.7,"As a Data Scientist, you'll utilize advanced q...",$79K-$131K (Glassdoor est.),Data Scientist
686,"Luxoft, EPAM, Capgemini Invent",$50 to $100 million (USD),Information Technology,Enterprise Software & Network Solutions,Company - Private,2006,1001 to 5000 employees,"San Ramon, CA","Santa Clara, CA",Grid Dynamics\n4.0,NaN,"As a member of the Data Science team, this rol...",$79K-$131K (Glassdoor est.),Data Scientist
687,-1,Unknown / Non-Applicable,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Company - Private,2015,501 to 1000 employees,"Chicago, IL","Chicago, IL",Tempus Labs\n3.3,3.3,Passionate about precision medicine and advanc...,$79K-$131K (Glassdoor est.),Data & Machine Learning Scientist
688,Sequenom,Unknown / Non-Applicable,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Company - Private,-1,1 to 50 employees,"Brisbane, CA","Brisbane, CA",CareDx\n2.5,2.5,"Headquartered in Brisbane, Calif., CareDx, Inc...",$79K-$131K (Glassdoor est.),Data Scientist - Machine Learning

In [599]:
df.loc[:,::2]

,C_Competitors,C_Sector,C_Ownership Type,C_Size,C_Location,C_Rating,J_Salary
0,"EmblemHealth, UnitedHealth Group, Aetna",Insurance,Nonprofit Organization,1001 to 5000 employees,"New York, NY",3.1,$137K-$171K (Glassdoor est.)
1,-1,Business Services,Company - Public,5001 to 10000 employees,"Chantilly, VA",4.2,$137K-$171K (Glassdoor est.)
2,-1,Business Services,Private Practice / Firm,1001 to 5000 employees,"Boston, MA",3.8,$137K-$171K (Glassdoor est.)
3,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",Manufacturing,Company - Public,501 to 1000 employees,"Newton, MA",3.5,$137K-$171K (Glassdoor est.)
4,"Commerce Signals, Cardlytics, Yodlee",Business Services,Company - Private,51 to 200 employees,"New York, NY",2.9,$137K-$171K (Glassdoor est.)
...,...,...,...,...,...,...,...
684,-1,Finance,Company - Private,1001 to 5000 employees,"Coral Gables, FL",3.7,$79K-$131K (Glassdoor est.)
685,-1,Information Technology,Company - Private,501 to 1000 employees,"New York, NY",3.7,$79K-$131K (Glassdoor est.)
686,"Luxoft, EPAM, Capgemini Invent",Information Technology,Company - Private,1001 to 5000 employees,"Santa Clara, CA",NaN,$79K-$131K (Glassdoor est.)
687,-1,Biotech & Pharmaceuticals,Company - Private,501 to 1000 employees,"Chicago, IL",3.3,$79K-$131K (Glassdoor est.)
688,Sequenom,Biotech & Pharmaceuticals,Company - Private,1 to 50 employees,"Brisbane, CA",2.5,$79K-$131K (Glassdoor est.)

In [600]:
# All job columns
list(df.columns[11:])

['J_Description', 'J_Salary', 'J_Title']

In [601]:
# All company columns
list(df.columns[:11])

['C_Competitors',
 'C_Revenue',
 'C_Sector',
 'C_Industry',
 'C_Ownership Type',
 'C_Founded',
 'C_Size',
 'C_Headquarters',
 'C_Location',
 'C_Name',
 'C_Rating']

In [602]:
df[list(df.columns[11:]) + list(df.columns[:11])].head()

,J_Description,J_Salary,J_Title,C_Competitors,C_Revenue,C_Sector,C_Industry,C_Ownership Type,C_Founded,C_Size,C_Headquarters,C_Location,C_Name,C_Rating
0,Description\n\nThe Senior Data Scientist is re...,$137K-$171K (Glassdoor est.),Sr Data Scientist,"EmblemHealth, UnitedHealth Group, Aetna",Unknown / Non-Applicable,Insurance,Insurance Carriers,Nonprofit Organization,1993,1001 to 5000 employees,"New York, NY","New York, NY",Healthfirst\n3.1,3.1
1,"Secure our Nation, Ignite your Future\n\nJoin ...",$137K-$171K (Glassdoor est.),Data Scientist,-1,$1 to $2 billion (USD),Business Services,Research & Development,Company - Public,1968,5001 to 10000 employees,"Herndon, VA","Chantilly, VA",ManTech\n4.2,4.2
2,Overview\n\n\nAnalysis Group is one of the lar...,$137K-$171K (Glassdoor est.),Data Scientist,-1,$100 to $500 million (USD),Business Services,Consulting,Private Practice / Firm,1981,1001 to 5000 employees,"Boston, MA","Boston, MA",Analysis Group\n3.8,3.8
3,JOB DESCRIPTION:\n\nDo you have a passion for ...,$137K-$171K (Glassdoor est.),Data Scientist,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",$100 to $500 million (USD),Manufacturing,Electrical & Electronic Manufacturing,Company - Public,2000,501 to 1000 employees,"Bad Ragaz, Switzerland","Newton, MA",INFICON\n3.5,3.5
4,Data Scientist\nAffinity Solutions / Marketing...,$137K-$171K (Glassdoor est.),NaN,"Commerce Signals, Cardlytics, Yodlee",Unknown / Non-Applicable,Business Services,Advertising & Marketing,Company - Private,1998,51 to 200 employees,"New York, NY","New York, NY",Affinity Solutions\n2.9,2.9

In [603]:
# All C columns are at the start and all J columns are at the end
# the columns could be reversed by slicing

# Slicing
df.loc[:,::-1]

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,NaN,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,Data Engineer,$79K-$131K (Glassdoor est.),POSITION SUMMARY\n\n\nThe candidate will be jo...,3.7,Bayview Asset Management\n3.7,"Coral Gables, FL","Coral Gables, FL",1001 to 5000 employees,1995,Company - Private,Investment Banking & Asset Management,Finance,$100 to $500 million (USD),-1
685,Data Scientist,$79K-$131K (Glassdoor est.),"As a Data Scientist, you'll utilize advanced q...",3.7,Via Transportation\n3.7,"New York, NY","New York, NY",501 to 1000 employees,2012,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1
686,Data Scientist,$79K-$131K (Glassdoor est.),"As a member of the Data Science team, this rol...",NaN,Grid Dynamics\n4.0,"Santa Clara, CA","San Ramon, CA",1001 to 5000 employees,2006,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),"Luxoft, EPAM, Capgemini Invent"
687,Data & Machine Learning Scientist,$79K-$131K (Glassdoor est.),Passionate about precision medicine and advanc...,3.3,Tempus Labs\n3.3,"Chicago, IL","Chicago, IL",501 to 1000 employees,2015,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1
688,Data Scientist - Machine Learning,$79K-$131K (Glassdoor est.),"Headquartered in Brisbane, Calif., CareDx, Inc...",2.5,CareDx\n2.5,"Brisbane, CA","Brisbane, CA",1 to 50 employees,-1,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,Sequenom

In [604]:
df = df.loc[:,::-1]

In [605]:
df.head()

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,NaN,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

Note that if you want your columns to be in specific order, there is no shortcut, other than to **specify the indices in a list and pass the list to df.loc[] locator.**

In [606]:
# With the columns in place, let's now check the datatypes of the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   J_Title           684 non-null    object
 1   J_Salary          689 non-null    object
 2   J_Description     689 non-null    object
 3   C_Rating          684 non-null    object
 4   C_Name            689 non-null    object
 5   C_Location        689 non-null    object
 6   C_Headquarters    689 non-null    object
 7   C_Size            689 non-null    object
 8   C_Founded         689 non-null    int64
 9   C_Ownership Type  689 non-null    object
 10  C_Industry        689 non-null    object
 11  C_Sector          689 non-null    object
 12  C_Revenue         689 non-null    object
 13  C_Competitors     689 non-null    object
dtypes: int64(1), object(13)
memory usage: 75.5+ KB

## Cleaning the dataset - I

The company rating (C_rating) has `NaNs` and is of `object` type. Clean the column by imputing the nulls and converting the column to numeric type

### Check if nulls are the only impurities present here and why the column is of 'object' type

In [607]:
# Let's directly convert it to a numeric type and see what results we get
# For NaNs we'll coerce the errors later, for now let's check if there are some other types of errors or not
pd.to_numeric(df.C_Rating)

ValueError: Unable to parse string "4.4*" at position 15

Okay, based on the above error, apart from NaNs, it seems that some of the data contain impurities in them.  **This is because this might not be the only erroneous pattern** Let's inspect if indeed this is the case

**ValueError** observed in the stack trace. Pattern is of the form x.x

In [608]:
# One logic to check which types of errors exist can be to inspect the length of each of the entries in the C_Rating column
# Ideally the number should be the of the type " *.*" where * indicates a numeric digit. Hence the length should be 3
# If the length is more than 3, then it might contain an error.

for i in (df[~df['C_Rating'].isna()]['C_Rating']):
    if len(i)>3:
        print(i)

4.4*
/3.7
3.8*/
2*+.9

The rating column contains a few characters along with the numbers that deonte the rating. These characters need to be removed.

**Bonus method to find the rows which show error**

In [609]:
errors = []

for i in (df['C_Rating']):
   try: 
    pd.to_numeric(i)
   except ValueError:
    errors.append(i)
    
print(errors)

['4.4*', '/3.7', '3.8*/', '2*+.9']

### Check the nulls and impute it appropriately

In [610]:
# Let's check the NaN values
df[df['C_Rating'].isna()]

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
49,Data Scientist,$75K-$131K (Glassdoor est.),Company Description:\nWhats it like to work at...,NaN,Quick Base\n4.3,"Cambridge, MA","Cambridge, MA",201 to 500 employees,1999,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1
67,Data Scientist,$79K-$131K (Glassdoor est.),"As a member of the Data Science team, this rol...",NaN,Grid Dynamics\n4.0,"Santa Clara, CA","San Ramon, CA",1001 to 5000 employees,2006,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),"Luxoft, EPAM, Capgemini Invent"
157,Experienced Data Scientist,$101K-$165K (Glassdoor est.),*******Please Apply using this link: https://a...,NaN,Guzman & Griffin Technologies (GGTI)\n4.4,"Washington, DC","Mays Landing, NJ",1 to 50 employees,1997,Company - Private,Federal Agencies,Government,Unknown / Non-Applicable,-1
350,Data Scientist,$122K-$146K (Glassdoor est.),What will you be doing?\n\nThe Contractor shal...,NaN,Praxis Engineering\n4.7,"Chantilly, VA","Annapolis Junction, MD",201 to 500 employees,2002,Subsidiary or Business Segment,Computer Hardware & Software,Information Technology,$100 to $500 million (USD),"Raytheon Technologies, Northrop Grumman, Booz ..."
686,Data Scientist,$79K-$131K (Glassdoor est.),"As a member of the Data Science team, this rol...",NaN,Grid Dynamics\n4.0,"Santa Clara, CA","San Ramon, CA",1001 to 5000 employees,2006,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),"Luxoft, EPAM, Capgemini Invent"

We can see that the Company Rating has merged with the Company Name. So first, let's fill the NaN values with the correct rating

In [611]:
df['C_Rating'].dtype

dtype('O')

In [612]:
# let's store the indexes
ix = df[df['C_Rating'].isna()].index
ix

Int64Index([49, 67, 157, 350, 686], dtype='int64')

In [613]:
lis = []

for i in range(0,len(ix)):
    lis.append(df.iloc[ix[i]]['C_Name'].split('\n')[1])

In [614]:
lis

['4.3', '4.0', '4.4', '4.7', '4.0']

In [615]:
df.iloc[ix,3] = lis

In [616]:
df.iloc[ix]

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
49,Data Scientist,$75K-$131K (Glassdoor est.),Company Description:\nWhats it like to work at...,4.3,Quick Base\n4.3,"Cambridge, MA","Cambridge, MA",201 to 500 employees,1999,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1
67,Data Scientist,$79K-$131K (Glassdoor est.),"As a member of the Data Science team, this rol...",4.0,Grid Dynamics\n4.0,"Santa Clara, CA","San Ramon, CA",1001 to 5000 employees,2006,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),"Luxoft, EPAM, Capgemini Invent"
157,Experienced Data Scientist,$101K-$165K (Glassdoor est.),*******Please Apply using this link: https://a...,4.4,Guzman & Griffin Technologies (GGTI)\n4.4,"Washington, DC","Mays Landing, NJ",1 to 50 employees,1997,Company - Private,Federal Agencies,Government,Unknown / Non-Applicable,-1
350,Data Scientist,$122K-$146K (Glassdoor est.),What will you be doing?\n\nThe Contractor shal...,4.7,Praxis Engineering\n4.7,"Chantilly, VA","Annapolis Junction, MD",201 to 500 employees,2002,Subsidiary or Business Segment,Computer Hardware & Software,Information Technology,$100 to $500 million (USD),"Raytheon Technologies, Northrop Grumman, Booz ..."
686,Data Scientist,$79K-$131K (Glassdoor est.),"As a member of the Data Science team, this rol...",4.0,Grid Dynamics\n4.0,"Santa Clara, CA","San Ramon, CA",1001 to 5000 employees,2006,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),"Luxoft, EPAM, Capgemini Invent"

Now we have transferred the rating data from the C_Name column to the C_Rating column.

In [617]:
df.C_Rating.isna().sum()

0

### Convert the column to the correct datatype

In [618]:
# With the nulls imputed, we need to remove the impurities 
# Let's write a custom function to do the same

In [619]:
print(errors)

['4.4*', '/3.7', '3.8*/', '2*+.9']

In [620]:
# Extract only numbers and decimal point

In [621]:
def cleaner(str):
    clean_str="".join(filter(lambda x: (x in "0123456789."), str))
    return float(clean_str)

In [622]:
cleaner('4.4*')

4.4

In [623]:
cleaner('2*+.9')

2.9

**Explanation** - The function `cleaner` takes a string and filters out all the numeric digits and the dot symbol, joins them and then converts the given string to a float value

In [624]:
df['C_Rating'] = df['C_Rating'].apply(cleaner)

In [625]:
df['C_Rating'].dtype

dtype('float64')

In [626]:
df['C_Rating'].describe()

count    689.000000
mean       3.672859
std        0.953591
min        1.000000
25%        3.400000
50%        3.800000
75%        4.300000
max        5.600000
Name: C_Rating, dtype: float64

#### Clean the company name column

In [627]:
df.head(5)

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,NaN,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [628]:
df['C_Name']= df['C_Name'].apply(lambda x: x.split('\n')[0])

In [629]:
df.head()

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,NaN,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

#### Clean the Job_Title column by using the Mode functionality

In [630]:
df[df['J_Title'].isna()]

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
4,NaN,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
9,NaN,$137K-$171K (Glassdoor est.),Ready to write the best chapter of your career...,3.6,XSELL Technologies,"Chicago, IL","Chicago, IL",51 to 200 employees,2014,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1
38,NaN,$75K-$131K (Glassdoor est.),Job Title: Data Scientists\n\nJob Description\...,2.2,Great-Circle Technologies,"Chantilly, VA","Chantilly, VA",1 to 50 employees,2000,Company - Private,Enterprise Software & Network Solutions,Information Technology,$1 to $5 million (USD),-1
290,NaN,$141K-$225K (Glassdoor est.),Work Authorization Those authorized to work in...,1.0,PETADATA,"San Francisco, CA","Fremont, CA",51 to 200 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1
396,NaN,$110K-$163K (Glassdoor est.),"Meridian Knowledge Solutions, LLC, is the lead...",4.3,Visionary Integration Professionals,"Washington, DC","Folsom, CA",501 to 1000 employees,1996,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),"CGI (Nevada), Accenture, Deloitte"

In [631]:
ix = df[df['J_Title'].isna()].index
ix

Int64Index([4, 9, 38, 290, 396], dtype='int64')

In [632]:
df['J_Title'].mode()[0]

'Data Scientist'

In [633]:
# Imputing mode to the NaN rows
df.iloc[ix, 0] = df['J_Title'].mode()[0]

In [634]:
# Alternatively, imputing mode to the NaN rows

df.loc[df['J_Title'].isna(), 'J_Title'] = df['J_Title'].mode()[0]

In [635]:
df[df['J_Title'].isna()]

Empty DataFrame
Columns: [J_Title, J_Salary, J_Description, C_Rating, C_Name, C_Location, C_Headquarters, C_Size, C_Founded, C_Ownership Type, C_Industry, C_Sector, C_Revenue, C_Competitors]
Index: []

In [636]:
df.iloc[ix]

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
9,Data Scientist,$137K-$171K (Glassdoor est.),Ready to write the best chapter of your career...,3.6,XSELL Technologies,"Chicago, IL","Chicago, IL",51 to 200 employees,2014,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1
38,Data Scientist,$75K-$131K (Glassdoor est.),Job Title: Data Scientists\n\nJob Description\...,2.2,Great-Circle Technologies,"Chantilly, VA","Chantilly, VA",1 to 50 employees,2000,Company - Private,Enterprise Software & Network Solutions,Information Technology,$1 to $5 million (USD),-1
290,Data Scientist,$141K-$225K (Glassdoor est.),Work Authorization Those authorized to work in...,1.0,PETADATA,"San Francisco, CA","Fremont, CA",51 to 200 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1
396,Data Scientist,$110K-$163K (Glassdoor est.),"Meridian Knowledge Solutions, LLC, is the lead...",4.3,Visionary Integration Professionals,"Washington, DC","Folsom, CA",501 to 1000 employees,1996,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),"CGI (Nevada), Accenture, Deloitte"

## Cleaning the dataset - II
There are -1s throughout the dataframe which are erroneous values. Remove all the rows which contains them.

In [637]:
df.head(10)

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
5,Data Scientist,$137K-$171K (Glassdoor est.),About Us:\n\nHeadquartered in beautiful Santa ...,4.2,HG Insights,"Santa Barbara, CA","Santa Barbara, CA",51 to 200 employees,2010,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
6,Data Scientist / Machine Learning Expert,$137K-$171K (Glassdoor est.),Posting Title\nData Scientist / Machine Learni...,3.9,Novartis,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1
7,Data Scientist,$137K-$171K (Glassdoor est.),Introduction\n\nHave you always wanted to run ...,3.5,iRobot,"Bedford, MA","Bedford, MA",1001 to 5000 employees,1990,Company - Public,Consumer Electronics & Appliances Stores,Retail,$1 to $2 billion (USD),-1
8,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block"
9,Data Scientist,$137K-$171K (Glassdoor est.),Ready to write the best chapter of your career...,3.6,XSELL Technologies,"Chicago, IL","Chicago, IL",51 to 200 employees,2014,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1

In [638]:
# We'll use the df.eq operator to find all the rows which contains -1
# It will return Boolean for each of the cells in the df

In [639]:
df.eq(-1)

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,False,False,False,False,False,False,False,False,False,False,False,False,False,False
685,False,False,False,False,False,False,False,False,False,False,False,False,False,False
686,False,False,False,False,False,False,False,False,False,False,False,False,False,False
687,False,False,False,False,False,False,False,False,False,False,False,False,False,False
688,False,False,False,False,False,False,False,False,True,False,False,False,False,False

In [640]:
# Let's find the sum of -1s across each column
df.eq(-1).sum()

J_Title               0
J_Salary              0
J_Description         0
C_Rating              0
C_Name                0
C_Location            0
C_Headquarters        0
C_Size                0
C_Founded           119
C_Ownership Type      0
C_Industry            0
C_Sector              0
C_Revenue             0
C_Competitors         0
dtype: int64

In [641]:
# Interesting that it's only showing -1s in C_founded but not in any other column
# like C-Competitors for which we can clearly see the -1s
# What's the mistake in the code shown above?

The code shown above doesn't account for **strings which are '-1'**. Hence we need to include that condition as well

In [642]:
df.eq("-1").sum()

J_Title               0
J_Salary              0
J_Description         0
C_Rating              0
C_Name                0
C_Location            0
C_Headquarters       31
C_Size               27
C_Founded             0
C_Ownership Type     27
C_Industry           71
C_Sector             71
C_Revenue            27
C_Competitors       512
dtype: int64

In [643]:
# Let's use this nifty concat function which will do a bitwise OR operation since the values in both the dfs are Boolean
# Now it will show True for the ones which are encoded as "-1" as well

In [644]:
(df2.eq(-1) + df2.eq('-1'))

,C_Competitors,C_Revenue,C_Sector,C_Industry,C_Ownership Type,C_Founded,C_Size,C_Headquarters,C_Location,C_Name,C_Rating,J_Description,J_Salary,J_Title
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,True,False,False,False,False,False,False,False,False,False,False,False,False,False
685,True,False,False,False,False,False,False,False,False,False,False,False,False,False
686,False,False,False,False,False,False,False,False,False,False,False,False,False,False
687,True,False,False,False,False,False,False,False,False,False,False,False,False,False
688,False,False,False,False,False,True,False,False,False,False,False,False,False,False

In [645]:
((df2.eq(-1) + df2.eq('-1')).sum())

C_Competitors       512
C_Revenue            27
C_Sector             71
C_Industry           71
C_Ownership Type     27
C_Founded           119
C_Size               27
C_Headquarters       31
C_Location            0
C_Name                0
C_Rating             50
J_Description         0
J_Salary              0
J_Title               0
dtype: int64

Clean the rows which have -1s in them

We'll use a method where we convert the -1s to NaNs and then drop them directly with a single function

In [646]:
# replace the values of -1 and "-1" with null values and remove the null records completely.

In [647]:
cols = df.columns

In [648]:
for i in cols:
    df.loc[df[i].isin([-1,"-1"]), i] = np.NaN

In [649]:
df.isna().sum()

J_Title               0
J_Salary              0
J_Description         0
C_Rating              0
C_Name                0
C_Location            0
C_Headquarters       31
C_Size               27
C_Founded           119
C_Ownership Type     27
C_Industry           71
C_Sector             71
C_Revenue            27
C_Competitors       512
dtype: int64

In [650]:
df.shape

(689, 14)

In [651]:
# drop rows with NULL values. 
# C_Competitors has 512 rows with NULL values, this would delete 512 rows from the dataframe having 689 rows
df.dropna(axis = 0,inplace = True)

In [652]:
df.shape

(172, 14)

In [653]:
df.isna().sum()

J_Title             0
J_Salary            0
J_Description       0
C_Rating            0
C_Name              0
C_Location          0
C_Headquarters      0
C_Size              0
C_Founded           0
C_Ownership Type    0
C_Industry          0
C_Sector            0
C_Revenue           0
C_Competitors       0
dtype: int64

In [654]:
df.head()

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993.0,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000.0,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998.0,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
8,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983.0,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block"
10,Data Scientist,$137K-$171K (Glassdoor est.),Join our team dedicated to developing and exec...,4.5,Novetta,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"Leidos, CACI International, Booz Allen Hamilton"

In [655]:
df.reset_index(drop = True,inplace = True)

## Perform hierarchical indexing using Company City and State

The location column has both the city and the state information

In [656]:
df.head()

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993.0,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000.0,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
2,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998.0,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
3,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983.0,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block"
4,Data Scientist,$137K-$171K (Glassdoor est.),Join our team dedicated to developing and exec...,4.5,Novetta,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"Leidos, CACI International, Booz Allen Hamilton"

In [657]:
df2 = df.copy()

In [658]:
df['C_City']= df['C_Location'].apply(lambda x: x.split(',')[0])

In [659]:
df.head(2)

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors,C_City
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993.0,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",New York
1,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000.0,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",Newton

In [660]:
df['C_State']= df['C_Location'].apply(lambda x: x.split(', ')[1])

IndexError: list index out of range

In [661]:
# Index error
# This might have happened if one of the entries didn't have any state
# let's check
loc = list(df.C_Location.unique())
loc

['New York, NY',
 'Newton, MA',
 'San Diego, CA',
 'Herndon, VA',
 'Saint Louis, MO',
 'Richland, WA',
 'Plano, TX',
 'Appleton, WI',
 'United States',
 'Overland Park, KS',
 'Santa Monica, CA',
 'Portsmouth, NH',
 'Cambridge, MA',
 'San Francisco, CA',
 'Fort Wayne, IN',
 'Carson, CA',
 'Santa Clara, CA',
 'Winter Park, FL',
 'Peoria, IL',
 'Ipswich, MA',
 'Carmel, IN',
 'Washington, DC',
 'Gaithersburg, MD',
 'Denver, CO',
 'Chantilly, VA',
 'Reston, VA',
 'Bethesda, MD',
 'Dayton, OH',
 'McLean, VA',
 'Woodbridge, NJ',
 'Vicksburg, MS',
 'Blue Bell, PA',
 'Chicago, IL',
 'Redwood City, CA',
 'San Carlos, CA',
 'Waltham, MA',
 'Fort Worth, TX',
 'Fort Belvoir, VA',
 'Oklahoma City, OK',
 'Champaign, IL',
 'Texas',
 'Lebanon, IN',
 'Melbourne, FL',
 'Cleveland, OH',
 'San Jose, CA',
 'Danvers, MA',
 'Livermore, CA',
 'Northbrook, IL',
 'Oshkosh, WI',
 'Ann Arbor, MI',
 'Richmond, VA',
 'Boston, MA',
 'Kent, OH',
 'Laurel, MD',
 'Fremont, CA',
 'Indianapolis, IN',
 'Oxnard, CA',
 'Kansas City, MO',
 'Manchester, NH',
 'Atlanta, GA',
 'Falls Church, VA',
 'Pleasanton, CA',
 'Wilmington, DE',
 'San Antonio, TX',
 'Portland, OR',
 'Simi Valley, CA',
 'Bedford, MA',
 'Collegeville, PA',
 'Wellesley, MA',
 'Bridgeport, WV',
 'Naperville, IL',
 'Bellevue, WA',
 'Houston, TX']

In [662]:
for i in loc:
    if ',' not in i:
        print(i)

United States
Texas

In [663]:
df[df['C_Location'].isin(['United States','Texas'])]

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors,C_City
10,Data Engineer,$75K-$131K (Glassdoor est.),Chef Software is the industry leader in IT aut...,3.6,Chef,United States,"Seattle, WA",201 to 500 employees,2008.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),"Puppet, Ansible, SaltStack",United States
71,Data Scientist,$71K-$123K (Glassdoor est.),Who we are\n\n\nFueled by a fundamental belief...,3.8,PayPal,Texas,"San Jose, CA",10000+ employees,1998.0,Company - Public,Internet,Information Technology,$10+ billion (USD),"Square, Amazon, Apple",Texas
133,Data Scientist,$212K-$331K (Glassdoor est.),Position: Data Scientist\nLocation: Denver\nSt...,3.6,Creative Circle,United States,"Los Angeles, CA",201 to 500 employees,2002.0,Company - Public,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,"Aquent, 24 Seven Talent",United States
156,Data Scientist,$87K-$141K (Glassdoor est.),Business Unit:\nCubic Transportation Systems\n...,3.3,Cubic,United States,"San Diego, CA",5001 to 10000 employees,1951.0,Company - Public,Aerospace & Defense,Aerospace & Defense,$1 to $2 billion (USD),"Accenture, Northrop Grumman, Xerox",United States

In [664]:
# Let's drop the United States Location rows as their locations are not specified
df2 = df[~(df['C_Location'] =='United States')].reset_index(drop = True)

In [665]:
df2.head()

,J_Title,J_Salary,J_Description,C_Rating,C_Name,C_Location,C_Headquarters,C_Size,C_Founded,C_Ownership Type,C_Industry,C_Sector,C_Revenue,C_Competitors,C_City
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993.0,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",New York
1,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000.0,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",Newton
2,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998.0,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",New York
3,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983.0,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block",San Diego
4,Data Scientist,$137K-$171K (Glassdoor est.),Join our team dedicated to developing and exec...,4.5,Novetta,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"Leidos, CACI International, Booz Allen Hamilton",Herndon

In [666]:
df2.shape

(169, 15)

In [667]:
# Now let's do the split again and exclude the Texas one
# We'll add the state code TX later
df2['C_State']= df2.loc[df2['C_Location']!='Texas']['C_Location'].apply(lambda x: x.split(', ')[1])

In [668]:
df2.isnull().sum()

J_Title             0
J_Salary            0
J_Description       0
C_Rating            0
C_Name              0
C_Location          0
C_Headquarters      0
C_Size              0
C_Founded           0
C_Ownership Type    0
C_Industry          0
C_Sector            0
C_Revenue           0
C_Competitors       0
C_City              0
C_State             1
dtype: int64

In [669]:
df2['C_State'].fillna('TX', inplace = True)

In [670]:
df2.isnull().sum()

J_Title             0
J_Salary            0
J_Description       0
C_Rating            0
C_Name              0
C_Location          0
C_Headquarters      0
C_Size              0
C_Founded           0
C_Ownership Type    0
C_Industry          0
C_Sector            0
C_Revenue           0
C_Competitors       0
C_City              0
C_State             0
dtype: int64

In [671]:
# Let's sort it by State
df2 = df2.sort_values('C_State')

In [672]:
# Now let's create the hierarchical indexing without dropping the columns
df2.set_index(['C_State','C_City'], drop = False,inplace = True)

In [673]:
df2.head()

                                              J_Title  \
C_State C_City
CA      Santa Clara                    Data Scientist
        Santa Clara                    Data Scientist
        Carson       Data Analyst - Unilever Prestige
        San Diego    Staff Data Scientist - Analytics
        San Diego                Staff Data Scientist

                                        J_Salary  \
C_State C_City
CA      Santa Clara  $79K-$131K (Glassdoor est.)
        Santa Clara   $31K-$56K (Glassdoor est.)
        Carson       $69K-$116K (Glassdoor est.)
        San Diego    $99K-$132K (Glassdoor est.)
        San Diego    $99K-$132K (Glassdoor est.)

                                                         J_Description  \
C_State C_City
CA      Santa Clara  As a member of the Data Science team, this rol...
        Santa Clara  As a member of the Data Science team, this rol...
        Carson       Data Analyst - Unilever Prestige\nJob Code\n\n...
        San Diego    Intuit is seeking a Staff Data Scientist to co...
        San Diego    Intuit is hiring a Senior Data scientist to fo...

                     C_Rating         C_Name       C_Location  \
C_State C_City
CA      Santa Clara       4.0  Grid Dynamics  Santa Clara, CA
        Santa Clara       4.0  Grid Dynamics  Santa Clara, CA
        Carson            3.8    Dermalogica       Carson, CA
        San Diego         4.4  Intuit - Data    San Diego, CA
        San Diego         4.4  Intuit - Data    San Diego, CA

                        C_Headquarters                   C_Size  C_Founded  \
C_State C_City
CA      Santa Clara      San Ramon, CA   1001 to 5000 employees     2006.0
        Santa Clara      San Ramon, CA   1001 to 5000 employees     2006.0
        Carson              Carson, CA     201 to 500 employees     1986.0
        San Diego    Mountain View, CA  5001 to 10000 employees     1983.0
        San Diego    Mountain View, CA  5001 to 10000 employees     1983.0

                                   C_Ownership Type  \
C_State C_City
CA      Santa Clara               Company - Private
        Santa Clara               Company - Private
        Carson       Subsidiary or Business Segment
        San Diego                  Company - Public
        San Diego                  Company - Public

                                                  C_Industry  \
C_State C_City
CA      Santa Clara  Enterprise Software & Network Solutions
        Santa Clara  Enterprise Software & Network Solutions
        Carson               Consumer Products Manufacturing
        San Diego               Computer Hardware & Software
        San Diego               Computer Hardware & Software

                                   C_Sector                   C_Revenue  \
C_State C_City
CA      Santa Clara  Information Technology   $50 to $100 million (USD)
        Santa Clara  Information Technology   $50 to $100 million (USD)
        Carson                Manufacturing  $100 to $500 million (USD)
        San Diego    Information Technology      $2 to $5 billion (USD)
        San Diego    Information Technology      $2 to $5 billion (USD)

                                      C_Competitors       C_City C_State
C_State C_City
CA      Santa Clara  Luxoft, EPAM, Capgemini Invent  Santa Clara      CA
        Santa Clara  Luxoft, EPAM, Capgemini Invent  Santa Clara      CA
        Carson       IMAGE Skincare, Aveda, Kiehl's       Carson      CA
        San Diego         Square, PayPal, H&R Block    San Diego      CA
        San Diego         Square, PayPal, H&R Block    San Diego      CA

### Clean the Salary column and extract Minimum Salary and Maximum Salary

In [674]:
df2.head()

                                              J_Title  \
C_State C_City
CA      Santa Clara                    Data Scientist
        Santa Clara                    Data Scientist
        Carson       Data Analyst - Unilever Prestige
        San Diego    Staff Data Scientist - Analytics
        San Diego                Staff Data Scientist

                                        J_Salary  \
C_State C_City
CA      Santa Clara  $79K-$131K (Glassdoor est.)
        Santa Clara   $31K-$56K (Glassdoor est.)
        Carson       $69K-$116K (Glassdoor est.)
        San Diego    $99K-$132K (Glassdoor est.)
        San Diego    $99K-$132K (Glassdoor est.)

                                                         J_Description  \
C_State C_City
CA      Santa Clara  As a member of the Data Science team, this rol...
        Santa Clara  As a member of the Data Science team, this rol...
        Carson       Data Analyst - Unilever Prestige\nJob Code\n\n...
        San Diego    Intuit is seeking a Staff Data Scientist to co...
        San Diego    Intuit is hiring a Senior Data scientist to fo...

                     C_Rating         C_Name       C_Location  \
C_State C_City
CA      Santa Clara       4.0  Grid Dynamics  Santa Clara, CA
        Santa Clara       4.0  Grid Dynamics  Santa Clara, CA
        Carson            3.8    Dermalogica       Carson, CA
        San Diego         4.4  Intuit - Data    San Diego, CA
        San Diego         4.4  Intuit - Data    San Diego, CA

                        C_Headquarters                   C_Size  C_Founded  \
C_State C_City
CA      Santa Clara      San Ramon, CA   1001 to 5000 employees     2006.0
        Santa Clara      San Ramon, CA   1001 to 5000 employees     2006.0
        Carson              Carson, CA     201 to 500 employees     1986.0
        San Diego    Mountain View, CA  5001 to 10000 employees     1983.0
        San Diego    Mountain View, CA  5001 to 10000 employees     1983.0

                                   C_Ownership Type  \
C_State C_City
CA      Santa Clara               Company - Private
        Santa Clara               Company - Private
        Carson       Subsidiary or Business Segment
        San Diego                  Company - Public
        San Diego                  Company - Public

                                                  C_Industry  \
C_State C_City
CA      Santa Clara  Enterprise Software & Network Solutions
        Santa Clara  Enterprise Software & Network Solutions
        Carson               Consumer Products Manufacturing
        San Diego               Computer Hardware & Software
        San Diego               Computer Hardware & Software

                                   C_Sector                   C_Revenue  \
C_State C_City
CA      Santa Clara  Information Technology   $50 to $100 million (USD)
        Santa Clara  Information Technology   $50 to $100 million (USD)
        Carson                Manufacturing  $100 to $500 million (USD)
        San Diego    Information Technology      $2 to $5 billion (USD)
        San Diego    Information Technology      $2 to $5 billion (USD)

                                      C_Competitors       C_City C_State
C_State C_City
CA      Santa Clara  Luxoft, EPAM, Capgemini Invent  Santa Clara      CA
        Santa Clara  Luxoft, EPAM, Capgemini Invent  Santa Clara      CA
        Carson       IMAGE Skincare, Aveda, Kiehl's       Carson      CA
        San Diego         Square, PayPal, H&R Block    San Diego      CA
        San Diego         Square, PayPal, H&R Block    San Diego      CA

- Thinking of using split()?
- Think of the number of operations you need to do
- Is there a better way?

## Use Regular Expressions!

In [675]:
# Regular expressions can help in faster cleaning of data and process things much easily
# Explain a bit about this
import re
re.sub('[^0-9]','',"$137K-$171K (Glassdoor est.)")

'137171'

In [676]:
re.sub('[^0-9-]','',"$137K-$171K (Glassdoor est.)")

'137-171'

Substitute all non-numeric characters. Extract only the numeric characters

In [677]:
df2['Salary Estimate'] = df2['J_Salary'].apply(lambda x : re.sub('[^0-9-]','',x))
df2.head()

                                              J_Title  \
C_State C_City
CA      Santa Clara                    Data Scientist
        Santa Clara                    Data Scientist
        Carson       Data Analyst - Unilever Prestige
        San Diego    Staff Data Scientist - Analytics
        San Diego                Staff Data Scientist

                                        J_Salary  \
C_State C_City
CA      Santa Clara  $79K-$131K (Glassdoor est.)
        Santa Clara   $31K-$56K (Glassdoor est.)
        Carson       $69K-$116K (Glassdoor est.)
        San Diego    $99K-$132K (Glassdoor est.)
        San Diego    $99K-$132K (Glassdoor est.)

                                                         J_Description  \
C_State C_City
CA      Santa Clara  As a member of the Data Science team, this rol...
        Santa Clara  As a member of the Data Science team, this rol...
        Carson       Data Analyst - Unilever Prestige\nJob Code\n\n...
        San Diego    Intuit is seeking a Staff Data Scientist to co...
        San Diego    Intuit is hiring a Senior Data scientist to fo...

                     C_Rating         C_Name       C_Location  \
C_State C_City
CA      Santa Clara       4.0  Grid Dynamics  Santa Clara, CA
        Santa Clara       4.0  Grid Dynamics  Santa Clara, CA
        Carson            3.8    Dermalogica       Carson, CA
        San Diego         4.4  Intuit - Data    San Diego, CA
        San Diego         4.4  Intuit - Data    San Diego, CA

                        C_Headquarters                   C_Size  C_Founded  \
C_State C_City
CA      Santa Clara      San Ramon, CA   1001 to 5000 employees     2006.0
        Santa Clara      San Ramon, CA   1001 to 5000 employees     2006.0
        Carson              Carson, CA     201 to 500 employees     1986.0
        San Diego    Mountain View, CA  5001 to 10000 employees     1983.0
        San Diego    Mountain View, CA  5001 to 10000 employees     1983.0

                                   C_Ownership Type  \
C_State C_City
CA      Santa Clara               Company - Private
        Santa Clara               Company - Private
        Carson       Subsidiary or Business Segment
        San Diego                  Company - Public
        San Diego                  Company - Public

                                                  C_Industry  \
C_State C_City
CA      Santa Clara  Enterprise Software & Network Solutions
        Santa Clara  Enterprise Software & Network Solutions
        Carson               Consumer Products Manufacturing
        San Diego               Computer Hardware & Software
        San Diego               Computer Hardware & Software

                                   C_Sector                   C_Revenue  \
C_State C_City
CA      Santa Clara  Information Technology   $50 to $100 million (USD)
        Santa Clara  Information Technology   $50 to $100 million (USD)
        Carson                Manufacturing  $100 to $500 million (USD)
        San Diego    Information Technology      $2 to $5 billion (USD)
        San Diego    Information Technology      $2 to $5 billion (USD)

                                      C_Competitors       C_City C_State  \
C_State C_City
CA      Santa Clara  Luxoft, EPAM, Capgemini Invent  Santa Clara      CA
        Santa Clara  Luxoft, EPAM, Capgemini Invent  Santa Clara      CA
        Carson       IMAGE Skincare, Aveda, Kiehl's       Carson      CA
        San Diego         Square, PayPal, H&R Block    San Diego      CA
        San Diego         Square, PayPal, H&R Block    San Diego      CA

                    Salary Estimate
C_State C_City
CA      Santa Clara          79-131
        Santa Clara           31-56
        Carson               69-116
        San Diego            99-132
        San Diego            99-132

In [678]:
# minimum salary column at column 2

In [679]:
df2.insert(2, 'MinSal(K)', df2['Salary Estimate'].apply(lambda x: float(x.split('-')[0])))
df2.head()

                                              J_Title  \
C_State C_City
CA      Santa Clara                    Data Scientist
        Santa Clara                    Data Scientist
        Carson       Data Analyst - Unilever Prestige
        San Diego    Staff Data Scientist - Analytics
        San Diego                Staff Data Scientist

                                        J_Salary  MinSal(K)  \
C_State C_City
CA      Santa Clara  $79K-$131K (Glassdoor est.)       79.0
        Santa Clara   $31K-$56K (Glassdoor est.)       31.0
        Carson       $69K-$116K (Glassdoor est.)       69.0
        San Diego    $99K-$132K (Glassdoor est.)       99.0
        San Diego    $99K-$132K (Glassdoor est.)       99.0

                                                         J_Description  \
C_State C_City
CA      Santa Clara  As a member of the Data Science team, this rol...
        Santa Clara  As a member of the Data Science team, this rol...
        Carson       Data Analyst - Unilever Prestige\nJob Code\n\n...
        San Diego    Intuit is seeking a Staff Data Scientist to co...
        San Diego    Intuit is hiring a Senior Data scientist to fo...

                     C_Rating         C_Name       C_Location  \
C_State C_City
CA      Santa Clara       4.0  Grid Dynamics  Santa Clara, CA
        Santa Clara       4.0  Grid Dynamics  Santa Clara, CA
        Carson            3.8    Dermalogica       Carson, CA
        San Diego         4.4  Intuit - Data    San Diego, CA
        San Diego         4.4  Intuit - Data    San Diego, CA

                        C_Headquarters                   C_Size  C_Founded  \
C_State C_City
CA      Santa Clara      San Ramon, CA   1001 to 5000 employees     2006.0
        Santa Clara      San Ramon, CA   1001 to 5000 employees     2006.0
        Carson              Carson, CA     201 to 500 employees     1986.0
        San Diego    Mountain View, CA  5001 to 10000 employees     1983.0
        San Diego    Mountain View, CA  5001 to 10000 employees     1983.0

                                   C_Ownership Type  \
C_State C_City
CA      Santa Clara               Company - Private
        Santa Clara               Company - Private
        Carson       Subsidiary or Business Segment
        San Diego                  Company - Public
        San Diego                  Company - Public

                                                  C_Industry  \
C_State C_City
CA      Santa Clara  Enterprise Software & Network Solutions
        Santa Clara  Enterprise Software & Network Solutions
        Carson               Consumer Products Manufacturing
        San Diego               Computer Hardware & Software
        San Diego               Computer Hardware & Software

                                   C_Sector                   C_Revenue  \
C_State C_City
CA      Santa Clara  Information Technology   $50 to $100 million (USD)
        Santa Clara  Information Technology   $50 to $100 million (USD)
        Carson                Manufacturing  $100 to $500 million (USD)
        San Diego    Information Technology      $2 to $5 billion (USD)
        San Diego    Information Technology      $2 to $5 billion (USD)

                                      C_Competitors       C_City C_State  \
C_State C_City
CA      Santa Clara  Luxoft, EPAM, Capgemini Invent  Santa Clara      CA
        Santa Clara  Luxoft, EPAM, Capgemini Invent  Santa Clara      CA
        Carson       IMAGE Skincare, Aveda, Kiehl's       Carson      CA
        San Diego         Square, PayPal, H&R Block    San Diego      CA
        San Diego         Square, PayPal, H&R Block    San Diego      CA

                    Salary Estimate
C_State C_City
CA      Santa Clara          79-131
        Santa Clara           31-56
        Carson               69-116
        San Diego            99-132
        San Diego            99-132

In [680]:
# maximum salary column at column 3

In [681]:
df2.insert(3, 'MaxSal(K)', df2['Salary Estimate'].apply(lambda x: float(x.split('-')[1])))
df2.head()

                                              J_Title  \
C_State C_City
CA      Santa Clara                    Data Scientist
        Santa Clara                    Data Scientist
        Carson       Data Analyst - Unilever Prestige
        San Diego    Staff Data Scientist - Analytics
        San Diego                Staff Data Scientist

                                        J_Salary  MinSal(K)  MaxSal(K)  \
C_State C_City
CA      Santa Clara  $79K-$131K (Glassdoor est.)       79.0      131.0
        Santa Clara   $31K-$56K (Glassdoor est.)       31.0       56.0
        Carson       $69K-$116K (Glassdoor est.)       69.0      116.0
        San Diego    $99K-$132K (Glassdoor est.)       99.0      132.0
        San Diego    $99K-$132K (Glassdoor est.)       99.0      132.0

                                                         J_Description  \
C_State C_City
CA      Santa Clara  As a member of the Data Science team, this rol...
        Santa Clara  As a member of the Data Science team, this rol...
        Carson       Data Analyst - Unilever Prestige\nJob Code\n\n...
        San Diego    Intuit is seeking a Staff Data Scientist to co...
        San Diego    Intuit is hiring a Senior Data scientist to fo...

                     C_Rating         C_Name       C_Location  \
C_State C_City
CA      Santa Clara       4.0  Grid Dynamics  Santa Clara, CA
        Santa Clara       4.0  Grid Dynamics  Santa Clara, CA
        Carson            3.8    Dermalogica       Carson, CA
        San Diego         4.4  Intuit - Data    San Diego, CA
        San Diego         4.4  Intuit - Data    San Diego, CA

                        C_Headquarters                   C_Size  C_Founded  \
C_State C_City
CA      Santa Clara      San Ramon, CA   1001 to 5000 employees     2006.0
        Santa Clara      San Ramon, CA   1001 to 5000 employees     2006.0
        Carson              Carson, CA     201 to 500 employees     1986.0
        San Diego    Mountain View, CA  5001 to 10000 employees     1983.0
        San Diego    Mountain View, CA  5001 to 10000 employees     1983.0

                                   C_Ownership Type  \
C_State C_City
CA      Santa Clara               Company - Private
        Santa Clara               Company - Private
        Carson       Subsidiary or Business Segment
        San Diego                  Company - Public
        San Diego                  Company - Public

                                                  C_Industry  \
C_State C_City
CA      Santa Clara  Enterprise Software & Network Solutions
        Santa Clara  Enterprise Software & Network Solutions
        Carson               Consumer Products Manufacturing
        San Diego               Computer Hardware & Software
        San Diego               Computer Hardware & Software

                                   C_Sector                   C_Revenue  \
C_State C_City
CA      Santa Clara  Information Technology   $50 to $100 million (USD)
        Santa Clara  Information Technology   $50 to $100 million (USD)
        Carson                Manufacturing  $100 to $500 million (USD)
        San Diego    Information Technology      $2 to $5 billion (USD)
        San Diego    Information Technology      $2 to $5 billion (USD)

                                      C_Competitors       C_City C_State  \
C_State C_City
CA      Santa Clara  Luxoft, EPAM, Capgemini Invent  Santa Clara      CA
        Santa Clara  Luxoft, EPAM, Capgemini Invent  Santa Clara      CA
        Carson       IMAGE Skincare, Aveda, Kiehl's       Carson      CA
        San Diego         Square, PayPal, H&R Block    San Diego      CA
        San Diego         Square, PayPal, H&R Block    San Diego      CA

                    Salary Estimate
C_State C_City
CA      Santa Clara          79-131
        Santa Clara           31-56
        Carson               69-116
        San Diego            99-132
        San Diego            99-132

In [682]:
df2[['MinSal','MaxSal']].describe()

KeyError: "None of [Index(['MinSal', 'MaxSal'], dtype='object')] are in the [columns]"

## Binning the Min Sal and Max Sal columns

In [683]:
df3 = df2.copy()

In [690]:
df3['MinSalRange'] = pd.cut(df2['MinSal(K)'],bins=[56,100,160,330],labels = ['L','M','H'])

In [685]:
df3.head(10)

                                                                 J_Title  \
C_State C_City
CA      Santa Clara                                       Data Scientist
        Santa Clara                                       Data Scientist
        Carson                          Data Analyst - Unilever Prestige
        San Diego                       Staff Data Scientist - Analytics
        San Diego                                   Staff Data Scientist
        Oxnard                                            Data Scientist
        San Francisco                                     Data Scientist
        San Francisco          Product Data Scientist - Ads Data Science
        Fremont        Software Engineer (Data Scientist, C,C++,Linux...
        San Jose                                   Data Engineer - Kafka

                                           J_Salary  MinSal(K)  MaxSal(K)  \
C_State C_City
CA      Santa Clara     $79K-$131K (Glassdoor est.)       79.0      131.0
        Santa Clara      $31K-$56K (Glassdoor est.)       31.0       56.0
        Carson          $69K-$116K (Glassdoor est.)       69.0      116.0
        San Diego       $99K-$132K (Glassdoor est.)       99.0      132.0
        San Diego       $99K-$132K (Glassdoor est.)       99.0      132.0
        Oxnard         $124K-$198K (Glassdoor est.)      124.0      198.0
        San Francisco  $124K-$198K (Glassdoor est.)      124.0      198.0
        San Francisco  $124K-$198K (Glassdoor est.)      124.0      198.0
        Fremont        $110K-$163K (Glassdoor est.)      110.0      163.0
        San Jose       $122K-$146K (Glassdoor est.)      122.0      146.0

                                                           J_Description  \
C_State C_City
CA      Santa Clara    As a member of the Data Science team, this rol...
        Santa Clara    As a member of the Data Science team, this rol...
        Carson         Data Analyst - Unilever Prestige\nJob Code\n\n...
        San Diego      Intuit is seeking a Staff Data Scientist to co...
        San Diego      Intuit is hiring a Senior Data scientist to fo...
        Oxnard         Job Number: R0078142\n\nData Scientist, Mid\n\...
        San Francisco  WHO WE ARE\n\n\nPostmates enables anyone to ha...
        San Francisco  Who We Are\n\n\nThe team is responsible for pl...
        Fremont        During the current global health crisis, the p...
        San Jose       Western Digital®\n\nThe next big thing in\ndat...

                       C_Rating                    C_Name         C_Location  \
C_State C_City
CA      Santa Clara         4.0             Grid Dynamics    Santa Clara, CA
        Santa Clara         4.0             Grid Dynamics    Santa Clara, CA
        Carson              3.8               Dermalogica         Carson, CA
        San Diego           4.4             Intuit - Data      San Diego, CA
        San Diego           4.4             Intuit - Data      San Diego, CA
        Oxnard              3.7  Booz Allen Hamilton Inc.         Oxnard, CA
        San Francisco       3.2  Postmates - Corporate HQ  San Francisco, CA
        San Francisco       4.1                   Twitter  San Francisco, CA
        Fremont             4.1           Mentor Graphics        Fremont, CA
        San Jose            3.5           Western Digital       San Jose, CA

                          C_Headquarters                   C_Size  C_Founded  \
C_State C_City
CA      Santa Clara        San Ramon, CA   1001 to 5000 employees     2006.0
        Santa Clara        San Ramon, CA   1001 to 5000 employees     2006.0
        Carson                Carson, CA     201 to 500 employees     1986.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        Oxnard               Mc Lean, VA         10000+ employees     1914.0
        San Francisco  San Francisco, CA   1001 to 5000 employees     2011.0
        San Francisco  San Francisco, CA   1001 to 5000 employees     2006.0
        Fremont          Wilsonville, OR  5001 to 10000 employees     1981.0
        San Jose            San Jose, CA         10000+ employees     1970.0

                                     C_Ownership Type  \
C_State C_City
CA      Santa Clara                 Company - Private
        Santa Clara                 Company - Private
        Carson         Subsidiary or Business Segment
        San Diego                    Company - Public
        San Diego                    Company - Public
        Oxnard                       Company - Public
        San Francisco               Company - Private
        San Francisco                Company - Public
        Fremont                      Company - Public
        San Jose                     Company - Public

                                                    C_Industry  \
C_State C_City
CA      Santa Clara    Enterprise Software & Network Solutions
        Santa Clara    Enterprise Software & Network Solutions
        Carson                 Consumer Products Manufacturing
        San Diego                 Computer Hardware & Software
        San Diego                 Computer Hardware & Software
        Oxnard                                      Consulting
        San Francisco                Express Delivery Services
        San Francisco                                 Internet
        Fremont                   Computer Hardware & Software
        San Jose                  Computer Hardware & Software

                                         C_Sector                   C_Revenue  \
C_State C_City
CA      Santa Clara        Information Technology   $50 to $100 million (USD)
        Santa Clara        Information Technology   $50 to $100 million (USD)
        Carson                      Manufacturing  $100 to $500 million (USD)
        San Diego          Information Technology      $2 to $5 billion (USD)
        San Diego          Information Technology      $2 to $5 billion (USD)
        Oxnard                  Business Services     $5 to $10 billion (USD)
        San Francisco  Transportation & Logistics    Unknown / Non-Applicable
        San Francisco      Information Technology      $2 to $5 billion (USD)
        Fremont            Information Technology      $1 to $2 billion (USD)
        San Jose           Information Technology          $10+ billion (USD)

                                                          C_Competitors  \
C_State C_City
CA      Santa Clara                      Luxoft, EPAM, Capgemini Invent
        Santa Clara                      Luxoft, EPAM, Capgemini Invent
        Carson                           IMAGE Skincare, Aveda, Kiehl's
        San Diego                             Square, PayPal, H&R Block
        San Diego                             Square, PayPal, H&R Block
        Oxnard                                 Accenture, Deloitte, PwC
        San Francisco                           DoorDash, Uber, Grubhub
        San Francisco                       Facebook, Google, Pinterest
        Fremont        Cadence Design Systems, Synopsys, Altium Limited
        San Jose                            Seagate Technology, Toshiba

                              C_City C_State Salary Estimate
C_State C_City
CA      Santa Clara      Santa Clara      CA          79-131
        Santa Clara      Santa Clara      CA           31-56
        Carson                Carson      CA          69-116
        San Diego          San Diego      CA          99-132
        San Diego          San Diego      CA          99-132
        Oxnard                Oxnard      CA         124-198
        San Francisco  San Francisco      CA         124-198
        San Francisco  San Francisco      CA         124-198
        Fremont              Fremont      CA         110-163
        San Jose            San Jose      CA         122-146

In [687]:
# Let's ask pandas to do it automatically with pd.qcut

df3['MaxSalRange'] = pd.qcut(df3['MaxSal(K)'],q=3,labels = ['L','M','H'])

In [688]:
df3['MaxSalRange'].value_counts()

L    79
H    51
M    39
Name: MaxSalRange, dtype: int64

In [689]:
df3.head(10)

                                                                 J_Title  \
C_State C_City
CA      Santa Clara                                       Data Scientist
        Santa Clara                                       Data Scientist
        Carson                          Data Analyst - Unilever Prestige
        San Diego                       Staff Data Scientist - Analytics
        San Diego                                   Staff Data Scientist
        Oxnard                                            Data Scientist
        San Francisco                                     Data Scientist
        San Francisco          Product Data Scientist - Ads Data Science
        Fremont        Software Engineer (Data Scientist, C,C++,Linux...
        San Jose                                   Data Engineer - Kafka

                                           J_Salary  MinSal(K)  MaxSal(K)  \
C_State C_City
CA      Santa Clara     $79K-$131K (Glassdoor est.)       79.0      131.0
        Santa Clara      $31K-$56K (Glassdoor est.)       31.0       56.0
        Carson          $69K-$116K (Glassdoor est.)       69.0      116.0
        San Diego       $99K-$132K (Glassdoor est.)       99.0      132.0
        San Diego       $99K-$132K (Glassdoor est.)       99.0      132.0
        Oxnard         $124K-$198K (Glassdoor est.)      124.0      198.0
        San Francisco  $124K-$198K (Glassdoor est.)      124.0      198.0
        San Francisco  $124K-$198K (Glassdoor est.)      124.0      198.0
        Fremont        $110K-$163K (Glassdoor est.)      110.0      163.0
        San Jose       $122K-$146K (Glassdoor est.)      122.0      146.0

                                                           J_Description  \
C_State C_City
CA      Santa Clara    As a member of the Data Science team, this rol...
        Santa Clara    As a member of the Data Science team, this rol...
        Carson         Data Analyst - Unilever Prestige\nJob Code\n\n...
        San Diego      Intuit is seeking a Staff Data Scientist to co...
        San Diego      Intuit is hiring a Senior Data scientist to fo...
        Oxnard         Job Number: R0078142\n\nData Scientist, Mid\n\...
        San Francisco  WHO WE ARE\n\n\nPostmates enables anyone to ha...
        San Francisco  Who We Are\n\n\nThe team is responsible for pl...
        Fremont        During the current global health crisis, the p...
        San Jose       Western Digital®\n\nThe next big thing in\ndat...

                       C_Rating                    C_Name         C_Location  \
C_State C_City
CA      Santa Clara         4.0             Grid Dynamics    Santa Clara, CA
        Santa Clara         4.0             Grid Dynamics    Santa Clara, CA
        Carson              3.8               Dermalogica         Carson, CA
        San Diego           4.4             Intuit - Data      San Diego, CA
        San Diego           4.4             Intuit - Data      San Diego, CA
        Oxnard              3.7  Booz Allen Hamilton Inc.         Oxnard, CA
        San Francisco       3.2  Postmates - Corporate HQ  San Francisco, CA
        San Francisco       4.1                   Twitter  San Francisco, CA
        Fremont             4.1           Mentor Graphics        Fremont, CA
        San Jose            3.5           Western Digital       San Jose, CA

                          C_Headquarters                   C_Size  C_Founded  \
C_State C_City
CA      Santa Clara        San Ramon, CA   1001 to 5000 employees     2006.0
        Santa Clara        San Ramon, CA   1001 to 5000 employees     2006.0
        Carson                Carson, CA     201 to 500 employees     1986.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        San Diego      Mountain View, CA  5001 to 10000 employees     1983.0
        Oxnard               Mc Lean, VA         10000+ employees     1914.0
        San Francisco  San Francisco, CA   1001 to 5000 employees     2011.0
        San Francisco  San Francisco, CA   1001 to 5000 employees     2006.0
        Fremont          Wilsonville, OR  5001 to 10000 employees     1981.0
        San Jose            San Jose, CA         10000+ employees     1970.0

                                     C_Ownership Type  \
C_State C_City
CA      Santa Clara                 Company - Private
        Santa Clara                 Company - Private
        Carson         Subsidiary or Business Segment
        San Diego                    Company - Public
        San Diego                    Company - Public
        Oxnard                       Company - Public
        San Francisco               Company - Private
        San Francisco                Company - Public
        Fremont                      Company - Public
        San Jose                     Company - Public

                                                    C_Industry  \
C_State C_City
CA      Santa Clara    Enterprise Software & Network Solutions
        Santa Clara    Enterprise Software & Network Solutions
        Carson                 Consumer Products Manufacturing
        San Diego                 Computer Hardware & Software
        San Diego                 Computer Hardware & Software
        Oxnard                                      Consulting
        San Francisco                Express Delivery Services
        San Francisco                                 Internet
        Fremont                   Computer Hardware & Software
        San Jose                  Computer Hardware & Software

                                         C_Sector                   C_Revenue  \
C_State C_City
CA      Santa Clara        Information Technology   $50 to $100 million (USD)
        Santa Clara        Information Technology   $50 to $100 million (USD)
        Carson                      Manufacturing  $100 to $500 million (USD)
        San Diego          Information Technology      $2 to $5 billion (USD)
        San Diego          Information Technology      $2 to $5 billion (USD)
        Oxnard                  Business Services     $5 to $10 billion (USD)
        San Francisco  Transportation & Logistics    Unknown / Non-Applicable
        San Francisco      Information Technology      $2 to $5 billion (USD)
        Fremont            Information Technology      $1 to $2 billion (USD)
        San Jose           Information Technology          $10+ billion (USD)

                                                          C_Competitors  \
C_State C_City
CA      Santa Clara                      Luxoft, EPAM, Capgemini Invent
        Santa Clara                      Luxoft, EPAM, Capgemini Invent
        Carson                           IMAGE Skincare, Aveda, Kiehl's
        San Diego                             Square, PayPal, H&R Block
        San Diego                             Square, PayPal, H&R Block
        Oxnard                                 Accenture, Deloitte, PwC
        San Francisco                           DoorDash, Uber, Grubhub
        San Francisco                       Facebook, Google, Pinterest
        Fremont        Cadence Design Systems, Synopsys, Altium Limited
        San Jose                            Seagate Technology, Toshiba

                              C_City C_State Salary Estimate MaxSalRange
C_State C_City
CA      Santa Clara      Santa Clara      CA          79-131           L
        Santa Clara      Santa Clara      CA           31-56           L
        Carson                Carson      CA          69-116           L
        San Diego          San Diego      CA          99-132           M
        San Diego          San Diego      CA          99-132           M
        Oxnard                Oxnard      CA         124-198           H
        San Francisco  San Francisco      CA         124-198           H
        San Francisco  San Francisco      CA         124-198           H
        Fremont              Fremont      CA         110-163           H
        San Jose            San Jose      CA         122-146           M